#destination {
  color: white;
  position: absolute;
  bottom: 5rem;
  width: 100vw;
  height: 54rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#destination>div:nth-child(1) {
  height: 100%;
  width: 50.9rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#destination #heading {
  width: 38.2rem;
  height: 3.4rem;
  line-height: 3.4rem;
  font-size: 2.8rem;
  font-family: "Barlow Condensed";
  letter-spacing: .4725rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#destination #heading span:nth-child(1) {
  font-weight: 700;
  opacity: 0.25;
}

#destination #heading span:nth-child(2) {
  text-transform: uppercase;
}

#destination #imgdiv {
  width: 44.5rem;
  height: 44.5rem;
  align-self: flex-end;
}

#destination>div:nth-child(2) {
  width: 44.5rem;
  height: 47.2rem;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

#destination #destination_nav {
  width: 28.5rem;
  height: 3.4rem;
}

#destination #destination_nav ul {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
}

#destination #destination_nav ul li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}

#destination #destination_nav ul li span {
  color: #D0D6F9;
  font-size: 1.6rem;
  font-family: "Barlow Condensed";
  letter-spacing: .27rem;
  height: 100%;
}

#destination #destination_nav ul li hr {
  width: 100%;
  height: .3rem;
  background-color: transparent;
  border: none;
}

#destination #destination_nav ul li span.active {
  color: white;
}

#destination #destination_nav ul li hr.active {
  background-color: white;
}

#destination #destination_name {
  color: white;
  width: 33.3rem;
  height: 11.5rem;
  font-size: 10rem;
  font-weight: 300;
  text-transform: uppercase;
  font-family: "Bellefair", serif;
}

#destination #destination_description {
  width: 44.4rem;
  height: 12.8rem;
  color: #D0D6F9;
  font-size: 1.8rem;
  font-family: "Barlow", serif;
  line-height: 3.2rem;
}

#destination>div:nth-child(2) hr {
  border: 1rem solid #383B4B;
}

#destination #distace_time {
  display: flex;
  align-items: center;
  height: 6.1rem;
}

#destination #distace_time #distance,
#destination #distace_time #time {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#destination #distace_time #distance {
  height: 100%;
}

#destination #distace_time #time {
  height: 100%;
  margin: auto;
}


#destination #distace_time #distance p:nth-child(1),
#destination #distace_time #time p:nth-child(1) {
  color: #D0D6F9;
  font-size: 1.4rem;
  font-family: 'Barlow Condensed', serif;
  letter-spacing: .2362rem;
  text-transform: uppercase;
}

#destination #distace_time #distance p:nth-child(2),
#destination #distace_time #time p:nth-child(2) {
  color: #FFF;
  font-size: 2.8rem;
  font-family: 'Bellefair', serif;
  text-transform: uppercase;
}