#homepage {
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#homepagedata {
  position: absolute;
  bottom: 10rem;
  height: 38.2rem;
  width: 100vw;
  display: flex;
  justify-content: space-around;
}

#homepagedata section {
  width: 45rem;
  height: 100%;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

#homepagedata section span {
  color: #D0D6F9;
  font-size: 2.8rem;
  font-family: 'Barlow Condensed', sans-serif;
  letter-spacing: .4725rem;
}

#homepagedata section h1 {
  color: #FFF;
  font-size: 15rem;
  font-family: 'Bellefair', serif;
  font-weight: 300;
}

#homepagedata section p {
  width: 44.4rem;
  height: 12.8rem;
  color: #D0D6F9;
  font-size: 1.6rem;
  font-family: 'Barlow', sans-serif;
  line-height: 3.2rem;
  text-align: center;
}

#homepagedata div {
  width: 44rem;
  height: 45rem;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  border-radius: 45rem;
}

#homepagedata div:hover {
  background: rgba(255, 254, 254, 0.1036275252699852);
}

#homepagedata div .link {
  width: 27.4rem;
  height: 27.4rem;
  border-radius: 50%;
  background-color: white;
  border: none;
  color: #0B0D17;
  font-size: 3.2rem;
  font-family: 'Bellefair', serif;
  letter-spacing: .2rem;
  cursor: pointer;
  pointer-events: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media(max-width:800px) {

  #homepagedata {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    bottom: 0;
    height: 80vh;
  }
}