#technology {
  color: white;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 5rem;
  width: 100vw;
}

#technology>div:nth-child(1) {
  width: 58%;
  padding-left: 5rem;
}

#technology #heading {
  width: 30.5rem;
  height: 3.5rem;
  line-height: 3.5rem;
  color: #FFF;
  font-size: 28px;
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 4.725px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#technology #heading span:nth-child(1) {
  opacity: 0.25;
}

#technology #heading span:nth-child(2) {
  font-weight: 400;
}

#technology #details {
  display: flex;
  gap: 8rem;
  margin-top: 13.7rem;
}

#technology #details #active_technology {
  width: 8rem;
  height: 30.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

#technology #details #active_technology div {
  width: 8rem;
  height: 8rem;
  border-radius: 80%;
  border: 1px solid gray;
  text-align: center;
  line-height: 8rem;
  color: #ffffff;
  font-size: 32px;
  font-family: 'Bellefair';
  font-style: normal;
  font-weight: 400;
  letter-spacing: 2px;
  cursor: pointer;
}

#technology #details #active_technology div:hover {
  border-color: white;
}

#technology #details #active_technology div.active {
  background-color: white;
  color: #0B0D17;
}


#technology #details div span {
  color: #D0D6F9;
  font-size: 16px;
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.7px;
}

#technology #details div h1 {
  color: #FFF;
  font-size: 56px;
  font-family: 'Bellefair';
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 1.1rem;
  margin-bottom: 1.7rem;
}

#technology #details div p {
  max-width: 44.4rem;
  color: #D0D6F9;
  font-size: 18px;
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

#technology #imgdiv {
  width: 38%;
  height: 50.8rem;
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}

@media(max-width:1025px) {
  #technology>div:nth-child(1) {
    padding: 0;
  }

  #technology #details div p {
    width: auto;
    height: 29rem;
  }

  #technology #imgdiv {
    align-self: flex-end;
    background-position: bottom;
  }
}

@media(max-width:800px) {}